
.container .places {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .places h1 {
    font-size: 30px;
    width: 100%;
}

.container .places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.container .places article h2 {
    font-size: 30px;
}
.container .places article .place_head {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .places article .price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: content-box;
}

.container .places article .information {
    height: 80px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    display: flex;
    justify-content: space-evenly;
    margin: 25px auto;
}

.container .places article .information div {
    width: 100px;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 6px auto;
}

.container .places article .information .number_rooms {
    background-image: url("../images/icon_bed.png");
}

.container .places article .information .number_bathrooms {
    background-image: url("../images/icon_bath.png");
}

.container .places article .information .max_guest {
    background-image: url("../images/icon_group.png");
}

.container .places article .user,
.container .places article .description {
    text-align: left;
}

.container .places article .description {
    margin: 10px auto;
}

.container .places article .user span {
    font-weight: bold;
}

.container .places article .amenities,
.container .places article .reviews  {
    margin-top: 40px;
}

.container .places article .amenities h2,
.container .places article .reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
}

.container .places article .amenities ul,
.container .places article .reviews ul {
    list-style: none;
}

.container .places article .amenities li,
.container .places article .reviews li {
    margin: 15px auto;
}

.container .places article .amenities li {
    background-repeat: no-repeat;
    background-position: 1px center;
    background-size: 20px;
    padding-left: 35px;
}

.container .places article .amenities li:nth-child(2) {
    background-image: url("../images/icon_wifi.png");
}

.container .places article .amenities li:nth-child(3) {
    background-image: url("../images/icon_pets.png");
}

.container .places article .amenities li:nth-child(1) {
    background-image: url("../images/icon_tv.png");
}

.container .places article .reviews ul h3 {
    font-size: 14px;
}

.container .places article .reviews ul p {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 3px;
}